<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
        crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4"
        crossorigin="anonymous"></script>
    <style>
        #chat h2 {
            font-size: 18px;
            padding: 10px 20px;
            color: #007bff;
        }

        .pl0 {
            padding-left: 0!important;
        }

        .pr0 {
            padding-right: 0!important;
        }

        #chat {
            max-width: 800px;
            margin: 15px;
            border: 1px solid #ddd;
            box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.05);
            border-radius: 2px;
        }

        #chat #chat-window {
            height: 500px;
            overflow: auto;
            background: #f9f9f9;
        }

        #chat #output p {
            padding: 14px 0px;
            margin: 0 20px;
            border-bottom: 1px solid #e9e9e9;
            color: #555;
        }

        .otherUsers p {
            padding: 14px 0px;
            margin: 0 20px;
            border-bottom: 1px solid #e9e9e9;
            color: #007bff;
        }

        .otherUsers small {
            color: #555;
        }

        #feedback p {
            color: #aaa;
            padding: 14px 0px;
            margin: 0 20px;
        }

        #output strong {
            color: #007bff;
        }

        #chat label {
            box-sizing: border-box;
            display: block;
            padding: 10px 20px;
        }

        #chat input {
            padding: 10px 20px;
            box-sizing: border-box;
            background: #eee;
            border: 0;
            display: block;
            width: 100%;
            background: #fff;
            border-bottom: 1px solid #eee;
            font-family: Nunito;
            font-size: 16px;
        }

        #chat button {
            background: #007bff!important;
            color: #fff;
            cursor: pointer;
            font-size: 18px;
            border: 0;
            padding: 12px 0;
            width: 100%;
            border-radius: 0 0 2px 2px;
        }
    </style>
    <title>Chat</title>
</head>

<body>
    {{> navbar}}
    <div class="container">
        {{> msg}} {{{body}}}
    </div>
</body>

</html>