<div class="jumbotron text-center">
    <h1>Welcome</h1>{{port}}
    <p class="lead"> Mongoose/Express/Socket.io/Node JS</p>
    <a class="btn btn-dark bnt-lg" href="/chats"> GO TO CHAT ROOM</a>
</div>