<div *ngIf="user" class="row">
    <div class="col-md-9 pr0 pl0" id="chat">
        <div id="feedback"></div>
        <input id="user" data-id="{{user._id}}" type="hidden" value="{{user.name}}" />
        <input id="message" [(ngModel)]="message" name="message"  type="text" placeholder="Message" />
        <button #btn (click)="onMessageSend(btn)" class="send" id="sendUser" data-user-id="thisIsSocketClientId">Send to 
            <span id="sendUserName"> {{ chatTo }} </span>
        </button>
        <div id="chat-window">
            <div id="output">
                <p *ngFor="let c of chats">>
                    <strong> {{u.name}} : </strong> {{message}} </p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="otherUsers">
            <p style="color:white" class="chatWith chatwithAll" #member (click)="changeMember(member)" >All Users </p>
        </div>
        <div *ngIf="users" class="otherUsers">
            <p class="chatWith " #member (click)="changeMember(member)" *ngFor="let u of users">{{ u.name }}
                <i style="padding-top:3px" class="colorGray fa fa-dot-circle-o pull-right"></i>
            </p>
        </div>
    </div>
</div>
  